{% for entry in site.data.navigation %}
{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
    {% if fullurl == page.url %}
        {% assign current_page = fullurl %}
        {% break %}
    {% elsif page.url contains fullurl %}
        {% assign current_page = fullurl %}
    {% endif %}
{% endfor %}

<!-- Then we build the nav bar. -->
<nav>
    <ul style="margin:0; padding:0;" >
    {% for entry in site.data.navigation %}
        {% if entry.url == current_page %}
            <!-- uses yellow, you can change to any other hexadecimal colour code. -->
            {% assign current = ' style="color: #FF0000; background-color: rgba(124, 51, 79, 0.73); border-radius: 10px; display:block; float:left; padding:0 10px;"' %}
        {% else %}
            <!-- We have to declare it 'null' to ensure it doesn't propagate. -->
            {% assign current = ' style="color: #000000; display:block; float:left; padding:0 10px;"' %}
        {% endif %}
        {% assign sublinks = entry.sublinks %}
        {% if sublinks %}
        <li{{ current }}>
            <a href="{{ site.baseurl }}{{ entry.url }}" style="color: #FF0000;">{{ entry.title }}</a>
            <ul>
                {% for sublink in sublinks %}
                <li><a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% else %}
        <li{{ current }}><a href="{{ site.baseurl }}{{ entry.url }}" style="color: #FF0000;">{{ entry.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</nav>
